[submodule "fe-mer"]
	path = fe-mer
	url = https://github.com/sw5005-sus/ceramicraft-merchant-frontend.git
[submodule "fe-cus"]
	path = fe-cus
	url = https://github.com/sw5005-sus/ceramicraft-customer-frontend.git
[submodule "ms-user"]
	path = ms-user
	url = https://github.com/sw5005-sus/ceramicraft-user-mservice.git
[submodule "ms-order"]
	path = ms-order
	url = https://github.com/sw5005-sus/ceramicraft-order-mservice.git
[submodule "ms-pay"]
	path = ms-pay
	url = https://github.com/sw5005-sus/ceramicraft-payment-mservice.git
[submodule "ms-cmdt"]
	path = ms-cmdt
	url = https://github.com/sw5005-sus/ceramicraft-commodity-mservice.git
[submodule "ms-comt"]
	path = ms-comt
	url = https://github.com/sw5005-sus/ceramicraft-comment-mservice.git
